/* css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* custom properties */
:root{
    --m-p: 30px;

}

/* generics */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}


footer {
    background-color: #23272a;
}

ul li {
    list-style: none;
}

h2 {
    color: #000;
    font-size: 50px;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

p {
    color: #000;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

footer {
    padding-top: 100px;
}

/* utility */

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.direction-col{
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.btn {
    font-weight: 600;
    padding: 15px;
    border-radius: 25px;
}

.btn:hover {
    opacity: 80%;
}

a:hover {
    opacity: 80%;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: var(--m-p)
}

.m-t {
    margin-top: 40px;
}

.m-b {
    margin-bottom: 100px;
}

/* header */

.logo {
    height: 50px;
}


.nav-bar{
    flex-basis: 50%;
    height: 50px;
}

.nav-bar ul {
    width: 100%;
}


.login {
    background-color: #fff;
    color: #23272a
}

.spotlight-container {
    margin-top: 40px;
    padding: var(--m-p)
}

.spotlight {
    min-height: 400px;
    width: 770px;
    text-align: center;
}

.spotlight h1 {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;
}

.spotlight p {
    color: #fff;
}

.m-left-btn {
    margin-right: 25px;
}

.btn.download-white {
    
    background-color: #fff;
    color: #000;
}

.btn.browser {
    
    color: #fff;
    background-color: #23272a;
}

/* main */ 

.large-column {
    min-height: 500px;
    flex-basis: 60%;
}

.small-column {
    min-height: 200px;
    flex-basis: 30%;
}

.single-column {
    min-height: 600px;
}

.end-title {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.end-title h3 {
    padding: 50px;
    font-size: 30px;
}

.btn.download-lightblue {
    background-color: #8ea1e1;
}

.white-section {
    background-color: #fff;
}

.gray-section  {
    background-color: #eaeaea;
}

.wave-divider {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 8%;
}

.wave-divider.upside-down {
    transform: rotate(180deg);
}

/* footer */

.social-link-column {
    
    flex-basis: calc(100% / 3);
}

.social-link-column h3 {
    font-weight: 800;
    font-size: 30px;
    color: #7289da;
}

.social-link-column h4 {
    color: #fff;
}

.leng {
    width: 30px;
    margin-right: 10px;
}

.leng img {
    width: 100%;
}

.social-icon {
    color: #fff;
    font-size: 30px;
}

.social-icon i{
    padding-right: 20px;
}

.help-link-column {
    flex-basis: calc(100% / 3 * 2);
}


.link {
    flex-basis: 100%;
    line-height: 30px;
}

.link h5{
    font-size: 20px;
    color: #7289da;
}

.sign-up.btn {
    background-color: #7289da;
}

.ending-row {
    border-top: 1px solid white;
    height: 100px;
}

