/* css reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* custom properties */
:root{
    --m-p: 30px;

}

/* generics */

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

main > :nth-child(even) {
    background: #CCC;
}

footer {
    background-color: #23272a;
}

ul li {
    list-style: none;
}

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}



/* utility */

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.btn {
    padding: 15px;
    border-radius: 25px;
}

.btn:hover {
    opacity: 80%;
}


.container {
    width: 1400px;
    margin: 0 auto;
    padding: var(--m-p)
}

.m-t {
    margin-top: 40px;
}


/* header */

.logo {
    height: 50px;
}


.nav-bar{
    flex-basis: 50%;
    height: 50px;
}

.nav-bar ul {
    width: 100%;
}


.login {
    background-color: #fff;
    color: #23272a
}

.spotlight-container {
    margin-top: 40px;
    padding: var(--m-p)
}

.spotlight {
    min-height: 400px;
    width: 770px;
    text-align: center;
}

.spotlight h1 {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;
}

.spotlight p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.left-btn {
    margin-right: 25px;
}

.download {
    background-color: #fff;
    color: #000;
}

.browser {
    color: #fff;
    background-color: #23272a;
}

/* main */ 

.large-column {
    min-height: 300px;
    flex-basis: 70%;
    background-color: pink;
    border: 2px dashed black;
}

.small-column {
    min-height: 300px;
    flex-basis: 30%;
    background-color: aquamarine;
    border: 2px dashed black;
}

.single-column {
    min-height: 600px;
    background-color: darkgreen;
    border: 2px dashed black;
}

/* footer */

.social-link-column {
    min-height: 500px;
    flex-basis: calc(100% / 3);
    background-color: lightcoral;
    border: 2px dashed black;
}

.help-link-column {
    min-height: 500px;
    flex-basis: calc(100% / 3 * 2);
    background-color: lightseagreen;
    border: 2px dashed black;
}

.link {
    flex-basis: 100%;
    border: 2px dashed white; 
}

footer section {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.ending-row {
    height: 100px;
    background-color: greenyellow;
}

